@font-face {
	src: url('TitilliumWeb-ExtraLight.ttf');			
	font-family: 'TitilliumWeb-ExtraLight';	
		}


*{padding: 0px; margin: 0px;}

body {background: #EEEEEE;}

#header {background: #DA4C2F; width: 100%; height: 40px;}

li {font-family: 'TitilliumWeb-ExtraLight';	}

.menu {margin-top: 10px;}
.menu li {display: inline;  margin: 10px;}

.menu li a {text-decoration: none; color: white;  font-size: 14px; text-transform: uppercase; font-weight: bold;}

#header-bg {width: 1024; height: 370px; background: gray;}

#search-form-tengah {margin-top: -34px;padding: 10px; background: #FFFFFF; width: 960px; height: 65px;border-radius: 5px; 
	margin-bottom: 20px; box-shadow: 0 2px 2px rgba(0,0,0,0.15);}

.search-form-input {width: 890px; height: 45px; background: #E6E6E6; border: 0px solid #E6E6E6;
					 box-shadow: 1px 1px 0px #E6E6E6; font-family: 'TitilliumWeb-ExtraLight'; font-size: 20px; padding-left: 10px; font-weight: bold;}

.search-form-input:focus {
	background: #EEEEEE;  color: #808080;
}


#search-button {
	text-indent: -2000px;
	overflow: hidden;
	width: 7%;
	
	height: 40px;
	min-width: 40px;
	background: url(../images/search-button.jpg) center center no-repeat;
	border: 0;
	position: absolute;
	}
	
#latest-articles {box-shadow: 0 2px 2px rgba(0,0,0,0.15); background: white; border-radius: 4px; width: 1070px; margin: auto; padding-bottom: 20px; }	

.head-font {font-family: 'TitilliumWeb-ExtraLight'; font-size: 23px; font-weight: 900; padding: 10px; text-decoration: none;}

.img-circle img{}

.panel-body {width: 1070px;}

.panel-body li a {font-size: 18px; text-transform: capitalize}

.widget .panel-body { padding:0px; width: 600px;  }
.widget .list-group { margin-bottom: 0; }
.widget .panel-title { display:inline }
.widget .label-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 1px solid #ddd; }

.widget li.list-group-item:hover { background-color: rgba(86,61,124,.1); }
.widget .mic-info { color: #666666;font-size: 11px; }
.widget .action { margin-top:5px; }
.widget .comment-text { font-size: 12px; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }

.looking-more img{width: 25px; height: 25px;}

.penyangga {margin-top: 50px;}

.full-user {background-image:url('../images/texture_grain_200x200_v2.png'); width: 100%; height: 115px;  }

.full-user-gambar {float: left; width: 180px; margin: 30px; }

.full-user-gambar ul {margin-top: 14px;}

.full-user-gambar ul li {display: block;  border-bottom: 1px solid black; padding: 5px;   }

.full-user-gambar ul li:hover {
	
	border-bottom: 1px dotted #C3C3C3;
	
}

.full-user-gambar ul li img {margin-top:-5px;}

.full-user-gambar ul li a {font-weight: bold; color: black;  margin-left: 10px;}

.full-user-gambar ul li a:hover {
	text-decoration: none;
	color: gray;
	-webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}

.full-user-name {float: left; margin-top: 30px; width: 800px;}

.full-user-in {box-shadow: 0 2px 2px rgba(0,0,0,0.15); border-radius: 4px; padding-bottom: 20px; }

.full-user-name ul {margin-left: 0px; margin-top: -10px;}

.full-user-name ul li {display: inline;margin-left: 10px;}
.full-user-name ul li img {margin-top:-5px; width: 18px;}
.img-thumbnail {width: 180px;}

.full-user-name-bio {margin-top: 45px; width: 90%; /*background: blue;*/}

.full-user-name-bio .dl-horizontal {margin-left: -70px;}

.full-user-job {width: 500px;  height: 40px; margin-left: 100px; padding-top: 10px;}

.full-user-job img {margin-right: 10px; padding-top: 2px;}

.full-user-job ul   { padding-top: 10px;}

.full-user-job ul li a {background:#A0B5C8; padding: 5px; padding-left: 8px; padding-right: 18px; border-radius: 5px; color: white; font-weight: bold; font-family: 'TitilliumWeb-ExtraLight'; font-size: 18px;  box-shadow: 1px 1px 1px rgba(0,0,0,0.14); }

.full-user-job ul li a:hover {text-decoration: none; background: #E0E0E0; color: black; text-decoration: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.15);
	-webkit-transition: all 0.10s linear;
   -moz-transition: all 0.10s linear;
   -o-transition: all 0.10s linear;
   -ms-transition: all 0.10s linear;
   transition: all 0.10s linear;}

