<!DOCTYPE HTML>
<html>
<head>
	<title> Contributor | E-Learning Fekon</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/960_24_col_rtl.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
	
</head>
<style>
#latest-articles {background:#EEEEEE !important;	
	box-shadow: 0 0px 0px rgba(0,0,0,0.15);
}

</style>
<body>
<div id="header">
	<div class="container_24">
		<div class="grid_24">
			<ul class="menu">
				<li><a href="{{ url_for('index')}}">Beranda</a></li>
				<li><a href="#">Updates</a></li>
				<li><a href="{{ url_for('contributor')}}">Contributor</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
		</div>
	</div>
</div>
    
<div class="penyangga">
</div>
    
<div id="search-form-tengah" class="container_24 push_7 contributor">
	<form class="search-form-tengah" method="GET" action="{{ url_for('search_contributor') }}">
		<input type="text" name="name" class="search-form-input" value="{{ data }}" placeholder="Search Lecturer/Contributor">
		<input type="submit" id="search-button" value="Search">
	</form>
</div>


    

<div id="latest-articles" >
		
		{% if get_db_user %}
		{% else %}
			<p class="head-font">Maaf tidak ada contributor/dosen : <u>{{ data }}</u></p>
		{% endif %}
		<ul class="contributor">
		{% for x in get_db_user %}
		    {% for y in get_db_profile(author=x) %}	
			<li><a href="/user/{{ x.username }}">
			
				{% if y.profile_images_url == None %}
				<span class="contributor-kiri">
					<img style="width: 75px; height: 75px;" src="{{ url_for('static', filename='images/no-images.jpg')}}"></img>
											
				</span>				
					
				</span>
				
				{% else %}
				
				<span class="contributor-kiri">
					<img style="width: 75px; height: 75px;" src="{{ url_for('static', filename='uploads/photo_profile')}}/{{ y.profile_images_url }}"></img>
											
				</span>				
				
				{% endif %}
				
				<span class="contributor-kanan">
					<p class="contributor-nama">{{ x.fullname }}</p>				
					<img src="{{ url_for('static', filename='images/web.gif')}}"> {{ y.website }} </img><br>
					<img src="{{ url_for('static', filename='images/18-envelope.png')}}" style="margin-left: 1px; margin-right: 2px; width: 14px; height: 13px;">  
					 {{ x.email }}</img><br>
					<img src="{{ url_for('static', filename='images/glyphicons_069_gift.png')}}" style="margin-left: 1px; margin-right: 2px; width: 14px; height: 13px;">   <b>{{ x.birthday.strftime('%B %d, %Y') }}</b>  </img>
				</span>
			</a>
			</li>
		     {% endfor %}
		{% endfor %}		
		</ul>
</div>    
	<!--<hr style="margin-top: 45px;position: relative;display: block;border-top: 1px solid #cbcbcb;"></hr>-->




</body>
</html>
