<!DOCTYPE HTML>
<html lang="id">
<html>
<head>
	<title> E-Learning Fekon</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/960_24_col_rtl.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<style>
 #footer {
        background-color: #f5f5f5;
        text-align:center;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }



      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      .container {
        width: auto;
        max-width: 680px;
      }
      .container .credit {
        margin: 20px 0;
      }
</style>	
	
</head>
<body>
<a href="https://github.com"><img style="position: fixed; top: 0px; left: 10; border: 0; margin-left: 20px; " src="{{ url_for('static', filename='images/beta-ribbon.png')}}" alt="Testing Mode"></img></a>
<div id="header">
	<div class="container_24">
		<div class="grid_22">
			<ul class="menu">
				<li><a href="{{ url_for('index')}}">Beranda</a></li>
				<li><a href="#">Updates</a></li>
				<li><a href="{{ url_for('contributor')}}">Contributor</a></li>
				<li><a href="{{ url_for('about') }}">About</a></li>
			</ul>
		</div>
	</div>
</div>



<div id="header-bg">
	<div class="container_24 ">
		<div class="quotes">
			<h1>The best interfaces for your e-learning website apps.</h1>
			<p>Using simple HTML markup, get a complete existing website with great design up and running in no time.</p><br><br>
			<button type="button" class="btn btn-default btn-lg" style="-webkit-font-smoothing: antialiased;
				display: inline-block;
				vertical-align: middle;
				zoom: 1;
				color: #fff;
				padding: 12px 31px;
				border: 2px solid #fff;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 400;
				background: rgba(0, 0, 0, 0.15);
				text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				transition: all 0.2s linear;
				margin-right: 40px;
				"
				
			> See the tour </button>
			
			<a class="btn btn-primary btn-lg" href="{{ url_for('register') }}">Sing up here</a>
		</div>
	</div>
</div>

<div id="search-form-tengah" class="container_24 push_7 ">
	<form class="search-form-tengah">
		<input type="text" class="search-form-input" placeholder="Search Article">
		<input type="submit" id="search-button" value="Search">
	</form>
</div>
<!--<hr style="padding-top: 15px;margin-top: 15px;position: relative;display: block;border-top: 1px solid #cbcbcb;">-->
<div class="">
	<div id="latest-articles" >
		<p class="head-font">Artikel Terbaru (In Source)</p><!--http://dpaste.com/1540516/-->
		<p style="float: right; margin-top: -50px; margin-right: 20px;" class="btn btn-info" >RSS</p>	
		<ul class="articles-thumbnail" style="padding-left: 0px;"> 
			<li>
				<a href="#"><span class="latest-articles-kiri">
					<img src="{{ url_for('static', filename='images/addyosmani.75.png')}}"></img>
				</span>
				
				<span class="latest-articles-kanan">
					<p class="articles-kanan-judul">Kesejahteraan Aceh dan UUPA pada Rakyat Aceh dengan Uang yang Besar</p>
					<a class="by" href="#"> #Accountancy  </a>
				</span
				</a>
			</li>
			
			<li>
				<a href="#"><span class="latest-articles-kiri">
					<img src="{{ url_for('static', filename='images/addyosmani.75.png')}}"></img>
				</span>
				
				<span class="latest-articles-kanan">
					<p class="articles-kanan-judul">Kesejahteraan Aceh dan UUPA pada Rakyat Aceh dengan Uang yang Besar</p>
					<a class="by" href="#"> #Accountancy  </a>
				</span
				</a>
			</li>
			
			<li>
				<a href="#"><span class="latest-articles-kiri">
					<img src="{{ url_for('static', filename='images/addyosmani.75.png')}}"></img>
				</span>
				
				<span class="latest-articles-kanan">
					<p class="articles-kanan-judul">Kesejahteraan Aceh dan UUPA pada Rakyat Aceh dengan Uang yang Besar</p>
					<a class="by" href="#"> #Accountancy  </a>
				</span
				</a>
			</li>
			
			
			
			<br style="clear: both"></br>
		</ul>
	</div>
	<br>
</div>
<div id="footer">
      <div class="container">
        <p class="muted credit">Full Developed by <a href="http://firdaus.jones.dk">Muhammad Firdaus</a> | &copy; Copyright fe.unsyiah.ac.id 2014  </p>
      </div>
</div>

</body>
</html>
